<% var rootPath = '../../'; %>
<div class="Table">
    <div class="Table-row Table-row_type_header">
        <div class="Table-col">Name</div>
        <div class="Table-col">Commit hash</div>
    </div>
    <div class="Table-row Table-row_type_content">
        <div class="Table-col">
            <%- include(rootPath + 'components/branch.ejs', { name: 'thunk' }) %>
        </div>
        <div class="Table-col Table-link Adaptive Adaptive_show_mobile"></div>
        <div class="Table-col">
            <a class="Link Typo Typo_color_accent" href="/commit">6748ds893432438dsd823329d923482d</a>
        </div>
    </div>
    <div class="Table-row Table-row_type_content">
        <div class="Table-col">
            <%- include(rootPath + 'components/branch.ejs', { name: 'users/a-aidyn00/my-feature-2' }) %>
        </div>
        <div class="Table-col Table-link Adaptive Adaptive_show_mobile"></div>
        <div class="Table-col">
            <a class="Link Typo Typo_color_accent" href="/commit">6748ds893432438dsd823329d923482d</a>
        </div>
    </div>
</div>