@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.BackMenu {
  display: table;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
}
.BackMenu-back {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}
.BackMenu-back:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 12px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%) scale(-1, 1);
  background: url("/static/imgs/hor-arrow.svg") 50% 50% no-repeat;
  background-size: contain;
}
.BackMenu-button {
  display: table-cell;
  text-align: right;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Button {
  position: relative;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 12px;
  background-color: #E6E6E6;
  border-radius: 4px;
}
.Button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background: url("/static/imgs/burger.svg") 50% 50% no-repeat;
  background-size: contain;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Branch {
  line-height: 20px;
  padding: 8px 12px;
  transition: background-color ease-in 200ms;
}
.Branch:hover {
  background-color: #F4F5F6;
}
.Branch_inversed {
  pointer-events: none;
}
.Branch-name {
  color: #434445;
  font-size: 14px;
  padding-bottom: 2px;
  transition: color ease-in 200ms;
}
.Branch_inversed .Branch-name {
  color: #F2F2F2;
}
.Branch:hover .Branch-name {
  color: #000000;
}
.Branch-info {
  color: #7F8285;
  font-size: 13px;
  transition: color ease-in 200ms;
}
.Branch_inversed .Branch-info {
  color: #F2F2F2;
}
.Branch:hover .Branch-info {
  color: #434445;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Code {
  color: #999999;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  overflow-x: auto;
  background-color: #F1F8FF;
}
.Code:not(.Code_diff) {
  padding: 6px 0;
}
.Code-rows {
  background-color: white;
  display: table;
  width: 100%;
}
.Code-line {
  display: table-row;
}
.Code-line_type_old {
  background-color: transparent;
}
.Code-line_type_new {
  background-color: #E6FFED;
}
.Code-line_type_deleted {
  background-color: #FFEEF0;
}
.Code-number {
  display: table-cell;
  padding: 0 32px 0 24px;
  width: 1px;
  text-align: right;
}
@media (max-width: 360px) {
  .Code-number {
    padding: 0 12px 0 16px;
  }
}
.Code-text {
  display: table-cell;
  padding-right: 4px;
}
.Code-meta {
  padding: 4px 12px;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Commit {
  user-select: none;
}
.Commit-name {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 4px;
}
.Commit-description {
  color: #434445;
  font-size: 16px;
  line-height: 20px;
}

.Container {
  padding: 0 32px;
  box-sizing: border-box;
  max-width: 1376px;
  margin: auto;
}
@media (max-width: 700px) {
  .Container {
    padding: 0 20px;
  }
}
@media (max-width: 360px) {
  .Container {
    padding: 0 16px;
  }
}
@media (max-width: 360px) {
  .Container_full {
    padding: 0;
  }
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Crumbs {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}
@media (max-width: 360px) {
  .Crumbs {
    padding-bottom: 8px;
  }
}
.Crumbs-item {
  display: inline-block;
  margin-right: 12px;
}
.Crumbs-item:after {
  content: "/";
  margin-left: 12px;
}
.Crumbs-item:not(:last-child) {
  color: #7F8285;
}
.Crumbs-item:last-child:after {
  padding-right: 0;
  content: none;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Days-item {
  padding-bottom: 16px;
}
.Days-item:last-child {
  padding-bottom: 0;
}
.Days-title {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 16px;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.DetailedCommit {
  display: table;
  width: 100%;
}
.DetailedCommit-col {
  display: table-cell;
  vertical-align: top;
}
.DetailedCommit-col_type_text {
  width: auto;
  padding-right: 16px;
}
@media (max-width: 360px) {
  .DetailedCommit-col_type_text {
    display: block;
  }
}
.DetailedCommit-col_type_commit {
  width: 5%;
  text-align: right;
  white-space: nowrap;
}
@media (max-width: 700px) {
  .DetailedCommit-col_type_commit {
    display: none;
  }
}
.DetailedCommit-col_type_tag {
  width: 18%;
  text-align: right;
}
@media (max-width: 360px) {
  .DetailedCommit-col_type_tag {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.DetailedCommit-message {
  padding-bottom: 2px;
  font-weight: 500;
}
@media (max-width: 360px) {
  .DetailedCommit-message {
    padding-right: 32px;
    line-height: 18px;
  }
}
.DetailedCommit-description {
  display: inline-block;
  padding-bottom: 4px;
}
@media (max-width: 360px) {
  .DetailedCommit-description {
    font-size: 13px;
    line-height: 18px;
  }
}
.DetailedCommit-info {
  color: #434445;
}
.DetailedCommit-tag {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/static/imgs/tag.svg") 50% 50% no-repeat;
  background-size: contain;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Dropdown {
  position: relative;
}
.Dropdown-arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  width: 28px;
  height: 28px;
  background: url("/static/imgs/arrow.svg") 50% 50% no-repeat;
  background-size: 12px 12px;
  cursor: pointer;
}
.Dropdown_opened .Dropdown-arrow {
  transform: scale(1, -1) translate(0, 50%);
}
.Dropdown-options {
  display: none;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 100%;
  min-width: 266px;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(53, 73, 93, 0.2);
  background: white;
}
.Dropdown-options_wide {
  padding: 6px 0 10px;
}
@media (max-width: 700px) {
  .Dropdown-options_wide {
    padding: 40px 0 12px;
  }
}
@media (max-width: 700px) {
  .Dropdown-options {
    position: fixed;
    top: 100%;
    transform: translate(0px, -100%);
    left: 0;
    right: 0;
    padding-top: 20px;
    border-radius: 5px 5px 0 0;
  }
  .Dropdown-options:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 42px;
    height: 4px;
    background: #E5E5E5;
    border-radius: 10px;
  }
}
.Dropdown_opened .Dropdown-options {
  display: block;
}
.Dropdown-list {
  max-height: 293px;
  overflow: auto;
}
@media (max-width: 700px) {
  .Dropdown-list {
    max-height: 233px;
  }
}
.Dropdown-item:not(.Dropdown-item_selected) {
  cursor: pointer;
}
.Dropdown-item_selected {
  position: relative;
  background: #4F4F4F;
  margin: 4px 0;
}
.Dropdown-separator {
  margin: 0 12px 6px;
  height: 1px;
  background: #E5E5E5;
}
.Dropdown-transition {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 2.11%, #FFFFFF 99.54%);
}
@media (max-width: 700px) {
  .Dropdown_opened .Dropdown-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.5;
    background-color: #000000;
  }
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.FileContainer {
  font-size: 0;
  border: 1px solid #F0F2F3;
  border-radius: 4px;
  overflow-x: auto;
}
.FileContainer-header {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  background: #F5F5F5;
}
@media (max-width: 360px) {
  .FileContainer-header {
    display: block;
    padding-left: 16px;
  }
}
.FileContainer-info {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  width: 100%;
  padding-right: 12px;
}
@media (max-width: 360px) {
  .FileContainer-info {
    display: block;
    max-width: unset;
    padding-bottom: 10px;
  }
}
.FileContainer-status {
  display: inline-block;
  vertical-align: middle;
  color: #6B69C7;
  padding-right: 12px;
}
.FileContainer-icon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 16px;
  background: url("/static/imgs/file.svg") 50% 50% no-repeat;
  background-size: contain;
  margin-bottom: 4px;
  margin-right: 8px;
}
.FileContainer-icon:first-child {
  margin-left: 4px;
}
.FileContainer-size {
  color: #999999;
}
.FileContainer-actions {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
}
@media (max-width: 360px) {
  .FileContainer-actions {
    display: block;
    text-align: left;
  }
}
.FileContainer-count {
  display: inline-block;
  padding-left: 16px;
}
.FileContainer-count:first-child {
  padding-left: 0;
}
.FileContainer-count_type_positive {
  color: #19BC4D;
}
.FileContainer-count_type_positive:before {
  content: "+";
}
.FileContainer-count_type_negative {
  color: #FF3029;
}
.FileContainer-count_type_negative:before {
  content: "-";
}
.FileContainer-link {
  display: inline-block;
  vertical-align: middle;
  padding-left: 24px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.FileContainer-link_type_expand {
  background: url("/static/imgs/expand.svg") 50% 50% no-repeat/contain;
}
@media (max-width: 360px) {
  .FileContainer-link_type_expand {
    float: right;
  }
}
.FileContainer-link_type_save {
  width: 36px;
  height: 28px;
  padding-left: 0;
  background: url("/static/imgs/save.svg") 50% 50% no-repeat;
  background-size: 14px 14px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}
@media (max-width: 360px) {
  .FileContainer-link_type_save {
    display: none;
  }
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 700px) {
  .Footer {
    display: none;
  }
}
.Footer-stub {
  height: 50px;
}
.Footer-content {
  display: table;
  position: absolute;
  bottom: 0;
  height: 50px;
  border-top: 1px solid #F0F2F3;
}
.Footer-item {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
  line-height: 18px;
  padding: 2px 20px 0;
  white-space: nowrap;
}
.Footer-item_type_info {
  width: 100%;
}
.Footer-item_type_version {
  padding-right: 32px;
}
.Footer-item_type_year {
  padding-left: 0;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Header {
  width: 100%;
  position: relative;
}
.Header:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #F0F2F3;
}
.Header-content {
  padding: 0 32px;
  box-sizing: border-box;
  max-width: 1376px;
  margin: auto;
  width: 100%;
}
@media (max-width: 700px) {
  .Header-content {
    padding: 0 20px;
  }
}
@media (max-width: 360px) {
  .Header-content {
    padding: 0 16px;
  }
}
.Header-table {
  display: table;
}
.Header-item {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.Header-item:first-child {
  padding-right: 40px;
}
.Header-item_type_logo {
  width: 118px;
  height: 20px;
  padding-top: 16px;
  padding-bottom: 20px;
}
@media (max-width: 360px) {
  .Header-item_type_logo {
    padding-top: 19px;
    padding-bottom: 21px;
  }
}
.Header-item_type_text {
  padding-top: 20px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 360px) {
  .Header-item_type_text {
    padding-top: 24px;
  }
}
.Header-item_active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  background: #FF4F49;
}
.Header-dropdown {
  position: relative;
}
.Header-option {
  padding: 8px 22px;
  transition: color ease-in 200ms;
}
.Header-option:hover {
  color: #7F8285;
}
@media (max-width: 360px) {
  .Header-option {
    padding: 12px 16px;
  }
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.History-item {
  position: relative;
  width: 100%;
  padding-left: 52px;
  box-sizing: border-box;
  padding-bottom: 14px;
}
.History-item:last-child {
  padding-bottom: 0;
}
.History-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: url("/static/imgs/change.svg") 50% 50% no-repeat, #EBF6FD;
  background-size: 16px;
  border-radius: 50%;
}
.History-item:not(:last-child) .History-line {
  position: absolute;
  left: 20px;
  bottom: 2px;
  top: 42px;
  transform: translate(-50%, 0);
  width: 2px;
  background: #B8BEC3;
  border-radius: 1px;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.hljs {
  color: #00234b;
}
.hljs-comment {
  color: #8694A2;
}
.hljs-keyword {
  font-weight: 600;
}
.hljs-string {
  color: #005fba;
}
.hljs-title {
  color: #005fba;
  font-weight: 600;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.IconText {
  font-size: 0;
}
.IconText-icon {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  background: 50% 50% no-repeat;
  background-size: contain;
}
.IconText-icon_size_s {
  width: 12px;
}
.IconText-icon_size_m {
  width: 20px;
}
.IconText-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Input {
  display: inline-block;
  width: 180px;
  max-width: 100%;
  height: 32px;
  color: #000000;
  font-size: 14px;
  line-height: 32px;
  border: 2px solid #E5E5E5;
  border-radius: 2px;
  padding: 0 12px;
  box-sizing: border-box;
  outline: none;
  transition: all ease-in 200ms;
}
@media (max-width: 360px) {
  .Input {
    width: 100%;
  }
}
.Input:focus {
  border-color: #ffdb4d;
  width: 250px;
}
@media (max-width: 360px) {
  .Input:focus {
    width: 100%;
  }
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Link {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Logo {
  background: url("/static/imgs/logo.svg") 50% 50% no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Markdown {
  padding: 24px 32px;
}
@media (max-width: 360px) {
  .Markdown {
    padding: 16px 24px;
  }
}
.Markdown-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
}
.Markdown-text {
  font-size: 14px;
  line-height: 18px;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Name {
  display: inline-block;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.Name:first-letter {
  color: #FF3029;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Path-header {
  padding-bottom: 12px;
}
@media (max-width: 360px) {
  .Path-header {
    padding-bottom: 4px;
  }
}
.Path-name {
  display: inline-block;
}
.Path-branch {
  display: inline-block;
}
.Path-body {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Section_size_s {
  padding-top: 12px;
}
.Section_size_m {
  padding-top: 16px;
}
.Section_size_l {
  padding-top: 18px;
}
.Section_size_xl {
  padding-top: 24px;
}
.Section_size_xxl {
  padding-top: 24px;
}
@media (max-width: 360px) {
  .Section_mobile_s {
    padding: 0;
  }
  .Section_mobile_m {
    padding-top: 8px;
  }
  .Section_mobile_l {
    padding-top: 10px;
  }
  .Section_mobile_xl {
    padding-top: 12px;
  }
}
.Section_bottom {
  padding-bottom: 16px;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Table {
  display: table;
  width: 100%;
}
.Table-row {
  display: table-row;
  position: relative;
}
@media (max-width: 700px) {
  .Table-row {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #E5E5E5;
  }
  .Table-row_type_header {
    display: none;
  }
}
@media (max-width: 700px) {
  .Table-row_type_header {
    display: none;
  }
}
.Table-col {
  display: table-cell;
  vertical-align: middle;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 8px;
}
.Table-col:last-child {
  text-align: right;
}
@media (max-width: 700px) {
  .Table-col {
    display: block;
    border-bottom: none;
    padding-right: 16px;
  }
  .Table-col:last-child {
    text-align: left;
  }
}
.Table-row_type_header .Table-col {
  color: #B8BEC3;
  border-color: #E5E5E5;
  padding-bottom: 8px;
}
.Table-row_type_content .Table-col {
  border-color: #F2F2F2;
  padding-top: 16px;
  padding-bottom: 12px;
}
@media (max-width: 700px) {
  .Table-row_type_content .Table-col {
    padding: 0 0 10px;
  }
  .Table-row_type_content .Table-col:last-child {
    padding-bottom: 0;
  }
}
.Table-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/static/imgs/hor-arrow.svg") calc(100% - 4px) 50% no-repeat;
  background-size: 9px 21px;
}
.Table-empty {
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Tabs {
  width: 100%;
  position: relative;
}
@media (max-width: 700px) {
  .Tabs {
    padding-top: 50px;
  }
}
.Tabs:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E5E5E5;
}
.Tabs-item {
  display: inline-block;
  position: relative;
  margin-right: 32px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.Tabs-item:last-child {
  padding-right: 0;
}
@media (max-width: 360px) {
  .Tabs-item {
    padding-bottom: 10px;
  }
}
.Tabs-item_active:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #FF3029;
}
.Tabs-search {
  position: absolute;
  bottom: 8px;
  right: 0;
}
@media (max-width: 700px) {
  .Tabs-search {
    top: 0;
    left: 0;
    width: 100%;
  }
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.Typo {
  word-break: break-word;
}
.Typo_size_default {
  font-size: 14px;
  line-height: 20px;
}
.Typo_size_title {
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 360px) {
  .Typo_size_title {
    font-size: 20px;
  }
}
.Typo_style_default {
  font-family: sans-serif;
}
.Typo_style_code {
  font-family: "PT Mono", monospace;
}
.Typo_color_default {
  color: #000000;
}
.Typo_color_inactive {
  color: #7F8285;
}
.Typo_color_additional {
  color: #434445;
}
.Typo_color_accent {
  color: #1774E9;
}

@font-face {
  font-family: "PTMonoRegular";
  src: url("/static/PTM55F_W.eot");
  src: url("/static/PTM55F_W.eot?#iefix") format("embedded-opentype"), url("/static/PTM55F_W.woff") format("woff"), url("/static/PTM55F_W.ttf") format("truetype"), url("/static/PTM55F_W.svg#PTMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 360px) {
  .Adaptive_show_desktop {
    display: none;
  }
}
@media (min-width: 361px) {
  .Adaptive_show_mobile {
    display: none;
  }
}

html {
  height: 100%;
  min-height: 100%;
}

/*# sourceMappingURL=style.css.map */
