<div class="FileContainer">
    <div class="FileContainer-header Typo Typo_size_default">
        <div class="FileContainer-info">
            <div class="FileContainer-icon"></div>
            <div class="FileContainer-name">ya.make <span class="FileContainer-size">(4 347 bytes)</span></div>
        </div>
        <div class="FileContainer-actions">
        </div>
    </div>
    <div class="Code">
        <% [
            '#!/usr/bin/env python',
            'import os',
            'import sys',
            'import platform',
            '',
            'URLS = ["https://test.com", "https://test1.com", "https://test2.com", "https://test3.com"]',
            'def create_dirs(path)',
            '   try:',
            '       os.makedirs(path)',
            '   except OSError as e:',
            '       import errno',
            '',
            '       if e.errno != errno.EEXIST:',
            '           raise',
            '',
            '   return path'

        ].forEach(function(line, i){ %>
            <%- include('../../components/code-line.ejs', { diff: false, number: i + 1, text: line, type: "old", language: "python" }) %>
        <% }); %>
    </div>
</div>