<div class="Section Section_size_m Section_mobile_s">
    <div class="Table">
        <div class="Table-row Table-row_type_header">
            <div class="Table-col">Name</div>
            <div class="Table-col">Last commit</div>
            <div class="Table-col">Commit message</div>
            <div class="Table-col">Commiter</div>
            <div class="Table-col">Updated</div>
        </div>
        <% [1, 2, 3, 4, 5, 6].forEach(function(){ %>
            <div class="Table-row Table-row_type_content">
                <div class="Table-col Typo Typo_size_default">
                    <a href="/files">
                        <%- include('../../components/directory.ejs', { name: "api" }) %>
                    </a>
                </div>
                <div class="Table-col Adaptive Adaptive_show_desktop"><a class="Link Typo Typo_color_accent" href="/commit">d53dsv</a></div>
                <div class="Table-col Adaptive Adaptive_show_desktop">[vcs] move http to arc</div>
                <div class="Table-col Adaptive Adaptive_show_mobile"><a class="Link Typo Typo_color_accent" href="">ARCADIA-771:</a> [vcs] move http to arc</div>
                <div class="Table-col Adaptive Adaptive_show_mobile">
                    <a class="Link Typo Typo_color_accent" href="/commit">d53dsv</a>
                    by <span class="Name">somov</span>, 4s ago
                </div>
                <div class="Table-col Table-link Adaptive Adaptive_show_mobile"></div>
                <div class="Table-col Adaptive Adaptive_show_desktop"><div class="Name">somov</div></div>
                <div class="Table-col Adaptive Adaptive_show_desktop">4s ago</div>
            </div>
        <% }); %>

        <div class="Table-row Table-row_type_content">
            <div class="Table-col Typo Typo_size_default">
                <a href="/details">
                    <%- include('../../components/file.ejs', { name: "ya.make" }) %>
                </a>
            </div>
            <div class="Table-col Adaptive Adaptive_show_desktop"><a class="Link Typo Typo_color_accent" href="/commit">d53dsv</a></div>
            <div class="Table-col Adaptive Adaptive_show_desktop">[vcs] move http to arc</div>
            <div class="Table-col Adaptive Adaptive_show_mobile"><a class="Link Typo Typo_color_accent" href="">ARCADIA-771:</a> [vcs] move http to arc</div>
            <div class="Table-col Adaptive Adaptive_show_mobile">
                <a class="Link Typo Typo_color_accent" href="/commit">d53dsv</a>
                by <span class="Name">somov</span>, 4s ago
            </div>
            <div class="Table-col Table-link Adaptive Adaptive_show_mobile"></div>
            <div class="Table-col Adaptive Adaptive_show_desktop"><div class="Name">somov</div></div>
            <div class="Table-col Adaptive Adaptive_show_desktop">4s ago</div>
        </div>
    </div>
</div>