<div class="Section Section_bottom Section_size_m">
    <div class="FileContainer">
        <div class="FileContainer-header Typo Typo_size_default">
            <div class="FileContainer-info">
                <div class="FileContainer-icon"></div>
                <div class="FileContainer-name">README.md</div>
            </div>
        </div>
        <div class="Markdown">
            <div class="Markdown-title">
                Плагины и конфиги комбайна
            </div>
            <div class="Markdown-text">
                Плагины - статически собираются в образ, любая модификация требует пересборки образа и перевыкатки сервиса. Перед перевыкаткой нужно не забыть поменять layers на новый, версию предыдущего layer можно посмотреть в сервисе. https://nanny.yandex-team.ru/ui/#/services/dashboards/catalog/combaine/
                <br /><br />
                Конфиги - деплоятся динамически через deploy-configs.py, который запускается по крону на всех комбайнах. Скрипт generator.py и deploy-configs.py деплоятся динамически вместе с конфигами. Каталог configs poll-ится на измененние svn ревизии раз в минуту, поэтому задержка деплоя конфигов в комбайн должна быть не больше минуты с момента мерджа в транк.
            </div>
        </div>
    </div>
</div>