<div class="details-page__file">
    <div class="file-container">
        <div class="file-container__header">
            <div class="file-container__info">
                <div class="file-container__icon"></div>
                <div class="file-container__name">README.md</div>
            </div>
        </div>
        <div class="markdown">
            <div class="markdown__title">
                Плагины и конфиги комбайна
            </div>
            <div class="markdown__text">
                Плагины - статически собираются в образ, любая модификация требует пересборки образа и перевыкатки сервиса. Перед перевыкаткой нужно не забыть поменять layers на новый, версию предыдущего layer можно посмотреть в сервисе. https://nanny.yandex-team.ru/ui/#/services/dashboards/catalog/combaine/
                <br /><br />
                Конфиги - деплоятся динамически через deploy-configs.py, который запускается по крону на всех комбайнах. Скрипт generator.py и deploy-configs.py деплоятся динамически вместе с конфигами. Каталог configs poll-ится на измененние svn ревизии раз в минуту, поэтому задержка деплоя конфигов в комбайн должна быть не больше минуты с момента мерджа в транк.
            </div>
        </div>
    </div>
</div>