<div class="Crumbs">
    <div class="Crumbs-item">root</div>
    <div class="Crumbs-item">thunk</div>
    <div class="Crumbs-item">arcadia</div>
    <div class="Crumbs-item">adapter</div>
    <div class="Crumbs-item">ya.make</div>
</div>