<div class="crumbs">
    <div class="crumbs__item">root</div>
    <div class="crumbs__item">thunk</div>
    <div class="crumbs__item">arcadia</div>
    <div class="crumbs__item">adapter</div>
    <div class="crumbs__item">ya.make</div>
</div>