<div class="icon-text">
    <div class="icon-text__icon icon-text__icon_size_s" style="background-image: url('/static/imgs/directory.svg')"></div>
    <div class="icon-text__text typo typo_type_base"><%= name %></div>
</div>