<div class="IconText">
    <div class="IconText-icon IconText-icon_size_s" style="background-image: url('/static/imgs/file.svg')"></div>
    <div class="IconText-text Typo Typo_size_default Typo_color_default Link"><%= name %></div>
</div>