<div class="Footer Typo Typo_color_inactive Typo_style_default">
    <div class="Footer-stub"></div>
    <div class="Footer-content">
        <div class="Footer-item Footer-item_type_info">
            Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
        </div>
        <div class="Footer-item Footer-item_type_version">
            UI: 0.1.15
        </div>
        <div class="Footer-item Footer-item_type_year">
            © 2007—2019 <span class="Typo Typo_color_accent">Yandex</span>
        </div>
    </div>
</div>