<div class="footer">
    <div class="footer__item footer__item_type_info">
        Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
    </div>
    <div class="footer__item footer__item_type_version">
        UI: 0.1.15
    </div>
    <div class="footer__item footer__item_type_year">
        © 2007—2019 Yandex
    </div>
</div>