<div class="Header Typo Typo_style_default">
    <div class="Header-content">
        <a class="Header-item Header-item_type_logo" href="/files">
            <div class="Logo"></div>
        </a>
        <div class="Header-item Header-item_type_text Header-item_active">Repository Arc</div>
    </div>
</div>