<div class="Header Typo Typo_style_default">
    <div class="Header-content">
        <div class="Header-table">
            <a class="Header-item Header-item_type_logo" href="/files">
                <div class="Logo"></div>
            </a>
            <div class="Header-item Header-item_type_text Header-item_active">
            <span class="Header-dropdown Dropdown">Repository Arc
                <div class="Dropdown-arrow"></div>
                <div class="Dropdown-bg"></div>
                <div class="Dropdown-options Dropdown-options_wide">
                    <div class="Dropdown-list">
                        <div class="Dropdown-item">
                            <div class="Header-option">Arc</div>
                        </div>
                        <div class="Dropdown-item">
                            <div class="Header-option">My repository</div>
                        </div>
                        <div class="Dropdown-item">
                            <div class="Header-option">Devtools-team repository</div>
                        </div>
                    </div>
                </div>
            </span>
            </div>
        </div>
    </div>
</div>