<div class="header">
    <div class="header__content">
        <a class="header__item header__item_type_logo" href="/files">
            <div class="logo"></div>
        </a>
        <div class="header__item header__item_type_text header__item_active text">Repository Arc</div>
    </div>
</div>