<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/style.css">
    <title><%= title %></title>
</head>
<body class="Body Typo Typo_style_default Typo_color_default Typo_size_default">
<%- include('./header.ejs') %>
