<div class="repo">
    <%- include('../components/crumbs.ejs') %>
    <div class="repo__path">
        <%- include('../components/path.ejs') %>
    </div>
    <div class="repo__menu">
        <%- include('../components/tabs.ejs', { tabs }) %>
    </div>
</div>