<%- include('../components/crumbs.ejs') %>
<div class="Section Section_size_s">
    <%- include('../components/path.ejs') %>
</div>
<div class="Section Section_size_l">
    <%- include('../components/tabs.ejs', { tabs }) %>
</div>