<div class="days__item">
    <div class="days__title">June</div>
    <div class="history">
        <%- include('./list-item.ejs') %>
        <%- include('./list-item.ejs') %>
        <%- include('./list-item.ejs') %>
    </div>
</div>