<div class="Days-item">
    <div class="Days-title Typo Typo_color_inactive">June</div>
    <div class="History">
        <%- include('./list-item.ejs') %>
        <%- include('./list-item.ejs') %>
        <%- include('./list-item.ejs') %>
    </div>
</div>