<%- include('../../components/pageStart.ejs', {title: "1.6: Просмотр истории изменений файла"}) %>
<div class="Container">
    <%- include('../../components/repo.ejs', { tabs: [{title: 'details', isActive: false}, {title: 'history', isActive: true}] }) %>
    <%- include('./list.ejs') %>
</div>
<%- include('../../components/pageEnd.ejs') %>