<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/style.css">
    <title>1.6: Просмотр истории изменений файла</title>
</head>
<body class="Body Typo Typo_size_default Typo_color_default Typo_style_default">
<%- include('../../components/header.ejs') %>
<div class="Container">
    <%- include('../../components/repo.ejs', { tabs: [{title: 'details', isActive: false}, {title: 'history', isActive: true}] }) %>
    <%- include('./list.ejs') %>
</div>
<%- include('../../components/footer.ejs') %>
<script src="/static/script.js"></script>
</body>
</html>