<% var rootPath = '../../'; %>
<%- include(rootPath + 'components/pageStart.ejs', {title: "1.6: Просмотр истории изменений файла"}) %>
<div class="Container">
    <%- include(rootPath + 'components/repo.ejs', { tabs: [{title: 'details', isActive: false}, {title: 'history', isActive: true}] }) %>
    <%- include('./list.ejs') %>
</div>
<%- include(rootPath + 'components/pageEnd.ejs') %>