<div class="History-item">
    <div class="History-img"></div>
    <div class="History-line"></div>
    <div class="DetailedCommit">
        <div class="DetailedCommit-col DetailedCommit-col_type_text">
            <div class="DetailedCommit-message">
                Support new distbuild protocol
            </div>
            <div class="DetailedCommit-description">
                Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
            </div>
            <div class="DetailedCommit-info">
                <a class="Link Typo Typo_color_accent" href="/commit">s324e8</a>
                by <span class="Name">woodcutter</span>, 4 s ago

            </div>
        </div>
        <div class="DetailedCommit-col DetailedCommit-col_type_commit">
            <a class="Link" href="/commit">s324e8</a>
        </div>
        <div class="DetailedCommit-col DetailedCommit-col_type_tag">
            <div class="DetailedCommit-tag"></div>
        </div>
    </div>
</div>
