<div class="history__item">
    <div class="history__img"></div>
    <div class="history__line"></div>
    <div class="detailed-commit">
        <div class="detailed-commit__col detailed-commit__col_type_text">
            <div class="detailed-commit__message">
                Support new distbuild protocol
            </div>
            <div class="detailed-commit__description">
                Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
            </div>
            <div class="detailed-commit__info">
                <a class="link" href="/commit">s324e8</a>
                by <span class="name">woodcutter</span>, 4 s ago

            </div>
        </div>
        <div class="detailed-commit__col detailed-commit__col_type_commit">
            <a class="link" href="/commit">s324e8</a>
        </div>
        <div class="detailed-commit__col detailed-commit__col_type_tag">
            <div class="detailed-commit__tag"></div>
        </div>
    </div>
</div>
