@import '../common/index';

.branch {
  line-height: $global-line-height-m;

  &__name {
    color: $black-100;
    font-size: $global-font-size-s;

    padding-bottom: $global-spacing-xxxs;
  }

  &_inversed &__name {
    color: $gray-20;
  }

  &__info {
    color: $black-30;
    font-size: $global-font-size-xs;
  }

  &_inversed &__info {
    color: $gray-20;
  }
}