@import "../common/index";

.Commit {
  user-select: none;

  &-name {
    font-size: $global-font-size-xl;
    line-height: $global-line-height-l;

    padding-bottom: $global-spacing-xxs;
  }

  &-description {
    color: $black-30;
    font-size: $global-font-size-m;
    line-height: $global-line-height-m;
  }
}