@import '../common/index';

.Days {
  &-item {
    padding-bottom: $global-spacing-m;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-title {
    font-size: $global-font-size-s;
    line-height: $global-line-height-m;
    padding-bottom: $global-spacing-m;
  }
}