@import '../common/index';

.detailed-commit {
  display: table;
  width: 100%;

  &__col {
    display: table-cell;
    vertical-align: top;

    color: $black-100;
    font-size: $global-font-size-xs;
    line-height: $global-line-height-s;

    &_type {
      &_text {
        width: auto;
      }
      &_commit {
        width: 5%;
        text-align: right;
      }
      &_tag {
        width: 18%;
        text-align: right;
      }
    }
  }

  &__message {
    font-size: $global-font-size-s;
    line-height: $global-line-height-m;
  }

  &__description {
    display: inline-block;
    padding-bottom: $global-spacing-xxs;
  }

  &__info {
    color: $black-30;
  }

  &__tag {
    $size: 16px;

    display: inline-block;

    width: $size;
    height: $size;
    background: url("/static/imgs/tag.svg") 50% 50% no-repeat;
    background-size: contain;
  }
}