@import "../common/index";

$local-arrow-size: 12px;
// Увеличение области клика
$local-arrow-offset: $global-spacing-xs * 2;

.dropdown {
  position: relative;

  &__arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    width: $local-arrow-size + $local-arrow-offset;
    height: $local-arrow-size + $local-arrow-offset;

    background: url('/static/imgs/arrow.svg') 50% 50% no-repeat;
    background-size: $local-arrow-size $local-arrow-size;

    cursor: pointer;
  }

  &_opened &__arrow {
    transform: scale(1, -1) translate(0, 50%);
  }

  &__options {
    display: none;
    overflow: hidden;
    z-index: 1;

    position: absolute;
    top: 100%;

    min-width: 266px;

    border-radius: $global-border-radius-m;
    box-shadow: 0 4px 16px rgba(53, 73, 93, 0.2);

    background: white;
  }

  &_opened &__options {
    display: block;
  }

  &__list {
    max-height: 293px;
    overflow: auto;
  }

  $local-horizontal-padding: $global-spacing-s;

  &__item {
    padding: $global-spacing-xs $local-horizontal-padding;

    &:not(#{&}_selected) {
      cursor: pointer;
    }

    &_selected {
      position: relative;
      background: $black-10;
      margin: $global-spacing-xxs 0;
    }
  }

  &__separator {
    margin: 0 $local-horizontal-padding 6px;
    height: $global-border-width-s;
    background: $gray-40;
  }

  &__transition {
    position: absolute;
    bottom: 0;
    width: 100%;

    height: 17px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 2.11%, #FFFFFF 99.54%);
  }
}