@import '../common/index';

.Markdown {
  padding: $global-spacing-xl $global-spacing-xxl;

  @include media("<=phone") {
    padding: $global-spacing-m $global-spacing-xl;
  }

  &-title {
    font-weight: 500;
    font-size: $global-font-size-l;
    line-height: 24px;

    padding-bottom: $global-spacing-s-h;
  }

  &-text {
    font-size: $global-font-size-s;
    line-height: $global-line-height-s;
  }
}