@import "../common/index";

.path {

  &__header {
    font-size: $global-font-size-xl;
    line-height: $global-line-height-l;

    padding-bottom: $global-spacing-s; // В макете 11
  }

  &__name {
    display: inline-block;
    color: $black-100;
  }

  &__branch {
    display: inline-block;
    color: $gray-90;
  }

  &__body {
    color: $black-100;
    font-size: $global-font-size-s;
    line-height: $global-line-height-m;
  }
}