@import "../common/index";

.table {
  display: table;
  width: 100%;

  &__row {
    display: table-row;
  }

  &__col {
    display: table-cell;
    vertical-align: middle;

    border-bottom-width: $global-border-width-s;
    border-bottom-style: solid;

    padding-left: $global-spacing-xs;


    &:last-child {
      text-align: right;
    }
  }

  &__row_type_header &__col {
    color: $gray-70;

    border-color: $gray-40;

    padding-bottom: $global-spacing-xs;
  }

  &__row_type_content &__col {
    border-color: $gray-20;

    padding-top: $global-spacing-m;
    padding-bottom: $global-spacing-s;
  }
}